:host {
  display: block;
  height: 100%;
  background-color: #fff;
  overflow: auto;
  border: 3px solid #fff;
  will-change: transform;
}

ion-icon {
  font-size: 20px;
  float: right;
  position: relative;
  top: 20px;
}

.header {
  background-color: #f5f5f5;
  padding: 0px 20px 5px 20px;
  border: 1px solid #ececec;
}

.content {
  display: none;
  overflow: auto;
  padding: 0 20px;
}
