<div class="header">
  <ion-icon [name]="isOpen ? 'chevron-down' : 'chevron-forward'"></ion-icon>
  <ng-content select="[header]"></ng-content>
</div>
<div class="content" #content>
  <ng-content select="[content]"></ng-content>
</div>
