<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Accordion </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-accordion-group>
    <app-accordion-item>
      <ng-container header>
        <h3>Overview</h3>
      </ng-container>
      <ng-container content>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </ng-container>
    </app-accordion-item>
    <app-accordion-item>
      <ng-container header>
        <h3>Characters</h3>
      </ng-container>
      <ng-container content>
        <ul style="padding-left: 10px">
          <li>Mace Tyrell</li>
          <li>Tyrion Lannister</li>
          <li>Sansa Stark</li>
          <li>Catelyn Stark</li>
          <li>Roose Bolton</li>
          <li>Jon Snow</li>
          <li>Hot Pie</li>
        </ul>
      </ng-container>
    </app-accordion-item>
    <app-accordion-item>
      <ng-container header>
        <h3>Plot</h3>
      </ng-container>
      <ng-container content>
        <p class="content">Hello there.</p>
        <p class="content">Hello there.</p>
        <p class="content">Hello there.</p>
        <p class="content">Hello there.</p>
        <p class="content">Hello there.</p>
        <p class="content">Hello there.</p>
      </ng-container>
    </app-accordion-item>
    <app-accordion-item>
      <ng-container header>
        <h3>Production</h3>
      </ng-container>
      <ng-container content>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </ng-container>
    </app-accordion-item>
    <app-accordion-item>
      <ng-container header>
        <h3>Awards</h3>
      </ng-container>
      <ng-container content>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </ng-container>
    </app-accordion-item>
  </app-accordion-group>
</ion-content>
